!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")}Blog - Autumn Coffee
    %meta(name="description" content="")
    %meta(name="viewport" content="width=device-width")
    %link(href="/style.css" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          .tagline
            Blog - Autumn Coffee
      = content
      
      #footer
        %p &copy; 2013
        %p Content and articles are copyrighted to the individual authors. Original design by&nbsp;
          %a{href: "http://bengourley.co.uk"} Ben Gourley
          . All code snippets used in the examples are in the public domain.

